* {
  transition: all 300ms ease;
}

body {
  font-family: "Poppins", Verdana, Sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, royalblue, blue, navy);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-container {
  width: 100%;
  height: 12.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(4, 54, 101);
  border-bottom: 2px solid white;
  box-shadow: 0 2px black;
  text-shadow: 2px 2px black;
}

.calculator-base {
  display: grid;
  grid-template-rows: repeat(6, minmax(50px, 1fr));
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-gap: 3em;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  height: 70vh;
  width: 60%;
  background-color: rgb(4, 54, 101);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 2px black;
  text-shadow: 2px 2px black;
  padding: 5%;
}

.calc-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 5px rgb(0, 255, 242);
  border-radius: 10px;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-button:hover {
  background-color: rgb(55, 64, 73);
  transform: scale(1.1);
}

.calc-button:active {
  background-color: rgb(50, 50, 255);
  transform: scale(0.9);
}

.calc-display {
  background-color: black;
  color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 5px rgb(0, 255, 242);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 4;
  grid-row: span 1;
}
